In [2]:
import pandas as pd
 
dataframe1 = pd.read_excel('table1.xlsx')
 
print(dataframe1)

   PRODUCT ID    RODUCT NAME
0          p1         orange
1           p2          pear
2           p3          Pear
3           p4         lemon
4           p5  strawberries
5           p6         apple
6           p7        banana
7           p8        grapes
8           p9     pineapple
9          p10        orange
10         p11        tomato
11         p12        potato
12         p13      mashroom
13         p14        pepper
14         p15         onion
15         p16        carrot
16         p17       turnips
17         p18        gigner
18         p19      chillies
19         p20        garlic

In [3]:
type(dataframe1)

pandas.core.frame.DataFrame

In [4]:
import pandas as pd
 
dataframe2 = pd.read_excel('table2.xlsx')
 
print(dataframe2)

     Person       Date          Products Baught
0   Person 1 2001-03-01        p1,p13,p15,p8,p9
1   Person 2 2001-03-01            p3,p5,p20,p4
2   Person 3 2001-03-01           p8,p9,p13,p17
3   Person 4 2001-03-01  p9,p2,p5,p8,p9,p16,p19
4   Person 1 2001-03-01       p7,p8,p14,p16,p19
5   Person 2 2001-03-01           p4,p8,p12,p12
6   Person 3 2001-03-01          p11,p1,p18,p17
7   Person 4 2001-03-01      p13,p17,p18,p9,p10
8   Person 1 2001-03-01     p3,p7,p9,p19,p20,p8
9   Person 2 2001-03-01   p16,p6,p4,p14,p19,p20
10  Person 3 2001-03-01       p14,p18,p8,p9,p10
11  Person 4 2001-03-01    p2,p6,p7,p11,p15,p16

In [6]:
frames = [dataframe1 , dataframe2]

In [7]:
df1_transposed = dataframe1 .T # or df2.transpose()
df1_transposed

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
PRODUCT ID,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,p17,p18,p19,p20
RODUCT NAME,orange,pear,Pear,lemon,strawberries,apple,banana,grapes,pineapple,orange,tomato,potato,mashroom,pepper,onion,carrot,turnips,gigner,chillies,garlic

In [7]:
dataframe2.sort_values(by=['Person'])

KeyError: 'Person'